.body-box{
    display: flex;
    justify-content: center;
}
.huge {
    height: 700px;
    width: 1200px;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line {
    height: 180px;
    width: 1100px;
    background: cornflowerblue;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-between;

}
.box{
    height: 100%;
    width: 49%;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    height: 60%;
    width: 30%;
    font-size: 50px;
    color: silver;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 25px;
}
.text {
    height: 85%;
    width: 70%;
    font-family: Candara;
}
.text > h2 {
    font-size: 22px;
    color: chocolate;
}
.text > p {
    font-size: 18px;
}
