* {
    box-sizing: border-box;
}
html, body{
    font-size: 30px;
}
.body-box {
    height: 100vh;
    width: 100vw;
    background: #dcda1f;
    padding-right: 2.5vw;
    padding-left: 2.5vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.a {
    height: 30vh;
    width: 100%;
    background: blue;
}
.b-c{
    /*height: 65%;*/
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.b{
    height: 60vh;
    width: 75%;
    background: silver;
}
.c{
    height: 60vh;
    width: 23%;
    background: green;
}
@media screen and (max-width:768px){
    .center{
        border-radius: 12%;
    }
    .a{
        height: 15vh;
    }

    .b-c {
        /*height: 82%;*/
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .b{
        height: 65vh;
        width: 100%;
    }
    .c{
        height: 15vh;
        width: 100%;
    }


}